{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
     <!---->
     <section>
        <div class="cont-img" id="bonampak">
            <img src="{% static 'img/bonampak-2.jpg!d' %}" alt="">
        </div>
         <!--texto y boton de imagen de destinos-->
         <div class="overlay-text">
            <h2>Bonampak</h2>
            <p>¡Descubre este hermoso lugar!</p>
        </div>
        <div>
            <a href="#"><button class="btn-d">¡Reserva ahora!</button></a>
        </div>
    </section>
     <!---->
    
{% endblock %}