{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
     <!---->
     <section>
        <div class="cont-img" id="2x1">
            <img src="{% static 'img/viajes_2x1.webp' %}">
        </div>
         <!--texto y boton de imagen de destinos-->
         <div class="overlay-text">
            <h2>2 X 1</h2>
            <p>¡Reserva ahora y obten esta promoción!</p>
        </div>
        <div>
            <a href="#"><button class="btn-d">¡Reserva ahora!</button></a>
        </div>
    </section>
     <!---->
{% endblock %}