{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
     <!---->
     <section>
        <div class="cont-img" id="mapas">
            <img src="{% static 'img/rutas.jpeg' %}" alt="">
        </div>
         <!--texto y boton de imagen de destinos-->
         <div class="overlay-text">
            <h2>Mapas y recorridos</h2>
            <p></p>
        </div>
        <div>
            <a href="#"><button class="btn-d">¡Reserva ahora!</button></a>
        </div>
    </section>
     <!---->
{% endblock %}