{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

             <!---->
             <section>
                <div class="cont-img" id="san">
                    <img src="{% static 'img/San Cristoval de las Casas.webp' %}" alt="San Cristoval">
                    <!--texto y boton de imagen de destinos-->
                    <div class="overlay-text">
                        <h2>San Cristoval de las Casas</h2>
                        <p>¡Descubre este hermoso lugar!</p>
                    </div>
                    <div>
                        <a href="#"><button class="btn-d">¡Reserva ahora!</button></a>
                    </div>

                </div>
            </section>
{% endblock %}