{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
     <!---->
     <section>
        <div class="cont-img" id="sol">
            <img src="{% static 'img/Sol y Playa.jpeg' %}" alt="">
        </div>
         <!--texto y boton de imagen de destinos-->
         <div class="overlay-text">
            <h2>Sol y playa</h2>
            <p>¡Descubre las mejores playas de México!</p>
        </div>
        <div>
            <a href="#"><button class="btn-d">¡Reserva ahora!</button></a>
        </div>
    </section>
     <!---->
{% endblock %}