{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
     <!---->
     <section>
        <div class="cont-img" id="tours">
            <img src="{% static 'img/tours-2.jpeg' %}" alt="">
        </div>
         <!--texto y boton de imagen de destinos-->
         <div class="overlay-text">
            <h2>Tours</h2>
            <p>¡Descubre los mejores tours por todo México!</p>
        </div>
        <div>
            <a href="#"><button class="btn-d">¡Reserva ahora!</button></a>
        </div>
    </section>
     <!---->
{% endblock %}
